{# templates/listtodos.html.twig #}

{% extends "todoslayout.html.twig" %}

{% block title %}List of todos{% endblock %}

{% block todos_list %}
    <!-- todos_list -->
	{% if todoslist is not empty %}
	<p>Here are all your tasks:</p>
  	<ul>
        {# Loop through list and creeate the list of todo items. #}
        {% for todo in todoslist %}
		<li>
  			<a href="{{ path('show', { 'id': todo.tid }) }}">{{ todo.todo }}</a>
		</li>
        {% endfor %}
	</ul>
    {% else %}
		<p>Sorry, you don't have any todos yet!</p>
    {% endif %}
    <!-- /todos_list -->
{% endblock %} {# todos_list #}

{# formulaire d'ajout d'une nouvelle tâche #}
{% block add_form %}
    <!-- add_form -->
			<form action="/tasks" method="POST">
				<div class="input-group">
					<input type="text" name="name" class="form-control" placeholder="What's next on the list?">
					<span class="input-group-btn">
						<input type="submit" value="Add Task" class="btn">
					</span>
				</div>
			</form>
    <!-- /add_form -->
{% endblock %} {# add_form #}

{# formulaire de suppression des tâches terminées #}
{% block clearcomplete_form %}
    <!-- clearcomplete_form -->
			<form action="/tasks/clear-complete" method="POST">
				<input type="submit" class="btn btn-danger btn-block"
					value="Clear Completed">
			</form>
    <!-- /clearcomplete_form -->
{% endblock %} {# clearcomplete_form #}

{# au lieu de surcharger uniquement le bloc content de todoslayout, on surcharge un peu plus haut, le bloc main
      pour embarquer deux rows dans la partie centrale
  #}
{% block main %}
<div class="row">
  <div class="col-md-12">
     {{ block('todos_list') }}
  </div> <!-- /.col-md-12 -->
</div>	<!-- /.row -->
<div class="row">
	<div class="col-md-9">
		{{ block('add_form') }}
	</div> <!-- /.col-md-9 -->
	<div class="col-md-3">
		<div class="center-block">
		    {{ block('clearcomplete_form') }}
		</div> <!-- /.center-block -->
	</div> <!-- /.col-md-3 -->
</div> <!-- /.row -->
{% endblock %} {# main #}
